<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.success_test? %>
  <p >Your score <span class="colorgreen"><%= @test_passage.compilition_test %></span>%. Test passed.</p>
<% else %>
  <p>Your score <span class="colorred"><%= @test_passage.compilition_test %></span>%. Try again.</p>
<% end %>

<%= link_to 'Back to tests', tests_path %>
