<footer>
  <hr>
    <h1>Об авторе сайта Test Guru</h1>
    <p><b>Говор Алексей</b></p>
    <a href="https://github.com/Spola1/test-guru" target="_blank">GitHub Автора</a><br>
    <a href="https://thinknetica.com/" target="_blank">Сайт школы Thinknetica</a><br>
    <%= current_year %>
  <hr>
</footer>
