<footer>
  <hr>
    <h1>Об авторе сайта Test Guru</h1>
    <p><b>Говор Алексей</b></p>
    <%= link_to 'Test-Guru. Ссылка на GitHub автора', github_author('Spola1', 'test-guru') %><br>
    <a href="https://thinknetica.com/" target="_blank">Сайт школы Thinknetica</a><br>
    <hr>
</footer>
